{% extends 'main.html' %}

{% block content %}
<section class="flex-column flex-center">
    <form action="" enctype="multipart/form-data" method="post">
        <h2>File uploader</h2>
        <hr>

        {% csrf_token %}
        <input type="file" multiple name="files" required>
        <button type="Submit" class="btn-primary">Submit</button>
    </form>
    <div class="flex-row flex-center" style="margin: 0px 0px;">
        {% comment %} <h3>{{new_urls}}</h3> {% endcomment %}
        {% for url in new_urls %}
            <img src="{{url}}" alt="image" width="150" height="150" title="{{url}}">
        {% endfor %}      
    </div>
</section>
{% endblock content %}